@import "tailwindcss";

@theme {
  --color-background: #F5F5F5;
  --color-foreground: #2F4F4F;
  --color-primary: #708090;
  --color-secondary: #556B2F;
  --font-sans: var(--font-inter), sans-serif;
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    @apply font-sans;
  }
}
